@charset "UTF-8";

:root{
    --cor0: #EBBB78;
    --cor1: #9E7E51;
    --cor2: #9b7d56;
    --cor3: #463826;
    
    --fonte-padrao: font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: var(--cor0);
}

nav{
    background-color: var(--cor2);

}

nav > ul{
    padding: 0.5em;
    text-align: center;

}

nav > ul > li{
    list-style: none;
    display: inline-block;
    padding: 1.5em;
}

nav > ul > li > a{
    text-decoration: none;
    padding: 1.5em;
    font-size: 1em;
    text-transform: uppercase;
}

nav > ul > li > a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
}

header > h1{
    text-align: center;
    letter-spacing: 0.2em;
    color: var(--cor2);
}

footer{
    text-align: center;
    background-color: var(--cor2);
    letter-spacing: 0.1em;
    color: var(--cor3);
    padding: 1em;
}
