body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ Geral -------------- */



/* ------------ Cabeçalho -------------- */
header{
    background-color: burlywood;
}

nav{
    background-color: teal;

}

nav > ul{
    padding: 0.5em;
    text-align: center;

}

nav > ul > li{
    list-style: none;
    display: inline-block;
    text-align: center;

}

nav > ul > li > a{
    text-decoration: none;
    padding: 0.5em;
}



/* ------------ Principal -------------- */



/* ------------ Rodadapé -------------- */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

