body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ Geral -------------- */



/* ------------ Cabeçalho -------------- */
header{
    background-color: #9E7E51;
}

nav{
    background-color: #EBBB78;

}

nav > ul{
    padding: 0.5em;
    text-align: center;

}

nav > ul > li{
    list-style: none;
    display: inline-block;
    padding: 1.5em;
}

nav > ul > li > a{
    text-decoration: none;
    padding: 1.5em;
    font-size: 1em;
    text-transform: uppercase;
}

nav > ul > li > a:hover{
    text-decoration: underline;
    background-color: #9b7d56;
}

header > h1{
    text-align: center;
    letter-spacing: 0.2em;
    color: #463826;
}

/* ------------ Principal -------------- */



/* ------------ Rodadapé -------------- */

footer{
    text-align: center;
    background-color: #9E7E51;
    letter-spacing: 0.1em;
    color: #463826;
    padding: 1em;
}

